@media (max-width: 991px) {
    .promo {
        &__wrapper {
            margin-top: 91px;
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }
}


